
<body class="site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

    <header class="masthead">
        <h2>Todays Market Stream</h2>
    </header><!-- .masthead -->

    <div class="page-title">
       <h1>Blue Financial Systems</h1>
    </div><!-- .page-title -->

    <main id="content" class="main-content">
     
      
            <section id="content">
                <form action="">
                    <h1>Login Form</h1>
                    <div>
                        <input type="text" placeholder="Username" required="" id="username" />
                    </div>
                    <div>
                        <input type="password" placeholder="Password" required="" id="password" />
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Log in" />
                        <a href="#">Lost your password?</a>
                        <a href="#">Register</a>
                    </div>
                </form><!-- form -->
                
            </section><!-- content -->
        
    </main><!-- #content .main-content -->

    <aside class="sidebar">
      
        <h2>Buyer Stream Frequency</h2>
        <p>Example Todays BFP Rate is 6.8 percent it could be -negative if less buyers interested </p>
        <p>https://www.thoughtco.com/population-standard-deviation-calculation-609522</p>
    </aside><!-- .sidebar -->

    <footer class="footer-content">
      
        <h2>Seller Margin Rate</h2>
        <p>Todays Seller Market Frequency Rate (SMRF) is 9.8 percent if Sellers Margin Rate icreased after covering cost of material and labor </p>
        <p> Seller MArgin negative rate will show less accumulative provide for each Market</p>
    </footer><!-- .footer-content -->

</body>